
$theme: rgb(141,106,202);
$safeAreaBottom : 64rpx;

$fontSizeExtraSmall: 24rpx;
//$fontSizeSmall: 26px;
$fontSizeBase: 28rpx;
$fontSizeMedium: 32rpx;
$fontSizeLarge: 40rpx;
$fontSizeExtraLarge: 48rpx;
$textColorMedium: #303133;
$textColorBase: #606266;
$textColorSmall: #909399;
$textColorExtraSmall: #C0C4CC;

$textColorDarkBase: #E2E1E2;
$textColorDarkSmall: #C0C4CC;

$borderColorGrayMedium: #DCDFE6;
$borderColorGrayBase: #E4E7ED;
$borderColorGraySmall: #EBEEF5;
$borderColorGrayExtraSmall: #F2F6FC;
$borderColorDarkGrayBase: #333233;

$textColorSuccess: #67C23A;
$textColorWarning: #E6A23C;
$textColorDanger: #F56C6C;
$textColorInfo: #909399;
$textColorPrimary: #409eff;
$textColorWhite: #ffffff;
$textColorDarkPink: #E93268;
$textColorPink: #ED7C97;
$textColorPurple: #B288F5;

$backgroundColorPageGray: #f6f6f6;
$backgroundColorWhite: #ffffff;
$backgroundColorNotice: #ffe0dc;
$backgroundColorDarkYellow: #E6B976;
$backgroundColorDarkLightGray: #333233;
$backgroundColorDarkGray: #242324;
$backgroundColorDark: #121112;
$backgroundColorPink: #ED7C97;
$backgroundColorPurple: #B288F5;
$backgroundColorYellow: #E6A23C;

$linearGradientPink: linear-gradient(135deg, rgba(244, 184, 144, 0.7) , rgba(237, 137, 148, 0.7));
$linearGradientPurple: linear-gradient(135deg, rgba(95, 15, 162, 0.7) , rgba(163, 32, 173, 0.7));

$spaceExtraSmall: 3px;
$spaceSmall: 6px;
$spaceBase: 12px;
$spaceMedium: 24px;

$radiusExtraSmall: 3px;
$radiusBase: 6px;
$radiusMedium: 12px;
$radiusLarge: 24px;

$boxShadowBase: 0 0 5px 0 #dbdbdb;
$boxShadowDarkBase: 2px 2px 4px 2px #000000;
